@import url("./variables.css");

.basic-details-container .choose-photo {
display: flex;
flex-direction: column;
gap: 5px;
align-items: center;
justify-content: center;
grid-column: 1 / 3;
}

 .preview>img {
    box-shadow: 0px 0px 2px var(--primary-color);
}

.basic-details-container .choose-image-button {
    font-size: 1.5rem;
}

.basic-details-container {
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.basic-details-container .basic-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}