@import url("./variables.css");

.deg {
    position: relative;
}

button.remove-exp,
button.remove-edu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -20px;
    background-color: var(--input-background);
    color: var(--primary-color);
    border: none;
}