@import url("./variables.css");

.edu-details {
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.edu-details .all-degrees {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.deg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0px 0px 2px var(--primary-color);
    padding: 25px;
    border-radius: 8px;
}