@import url("./variables.css");

.exp-details {
    margin: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.exp-details .yourRole {
    grid-column: 1 / 3;
}

.yourRole textarea {
    width: 99%;
}

.all-experiences {
    display: grid;
    gap: 25px;
}