@import url("./variables.css");

.cv {
  margin: 20px 0px 20px 0px;
  border: 1px solid var(--primary-color);
  box-shadow: 0px 0px 2px var(--primary-color);
  padding: 25px;
  border-radius: 8px;
}

.cv img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
  object-fit: cover;
}

.cv textarea,
.cv input {
  font-size: 1rem;
  color: var(--primary-color);
}

.cv textarea {
  field-sizing: content;
}

.cv #firstName,
.cv #lastName {
  font-size: 4rem;
  font-weight: bold;
  field-sizing: content;
  margin-right: 1rem;
}

.cv > .personal-details {
  display: grid;
  grid-template-columns: repeat(12, 55px);
  grid-template-rows: repeat(2, 60px) repeat(4, 30px);
}

.cv .choose-photo {
  grid-column: 1 / 5;
  grid-row: 1 / 7;
}
.cv label[for="firstName"] {
  grid-column: 5 / 13;
  grid-row: 1 / 2;
}

.cv label[for="lastName"] {
  grid-column: 5 / 13;
  grid-row: 2 / 3;
}

.cv label[for="phone"] {
  grid-column: 5;
  grid-row: 4;
}

.cv label[for="email"] {
  grid-column: 7;
  grid-row: 4;
}

.cv label[for="city"] {
  grid-column: 5;
  grid-row: 5;
}

.cv label[for="state"] {
  grid-column: 7;
  grid-row: 5;
}

.cv label[for="country"] {
  grid-column: 9;
  grid-row: 5;
}



.cv .exp {
    display: grid;
    grid-template-columns: 150px 1fr;
}

.cv .exp textarea,
.cv .exp input {
    font-size: 1.2rem;
}


.cv input {
  field-sizing: content;
}

.cv .companyName {
  grid-column: 1 / 3;
}

.cv .companyName input {
  font-size: 2rem;
  font-weight: bold;
}

.cv .position {
  grid-column: 1/ 3;
}

.cv .position::before {
    content: "Position: ";
}

.cv .companyFrom::before {
    content: "Joined: ";
}

.cv .companyTo::before {
    content: "Left: ";
}

.cv .yourRole::before {
    font-weight: 500;
    font-size: 1.5rem;
    content: "Roles and Responsibilities";
    display: block;
}

.cv .yourRole {
  grid-column:  1/ 3;
}

.cv .yourRole>textarea {
  width: 95%
}

.education {
    margin-top: 25px;
}

.cv .deg {
    display: grid;
    grid-template-columns: 300px 50px 50px;
    grid-template-rows: 1fr 1fr;
}

.cv .all-degrees {
    display: grid;
    gap: 25px;
    margin-top: 5px;
}


.cv .schoolName input {
    font-size: 1.5rem;
    font-weight: 540;
}

.cv .schoolFrom {
    grid-column: 2;
    grid-row: 1;
}

.cv .schoolTo {
    grid-column: 3;
    grid-row: 1;
}

.cv .schoolTo::before {
    content: "-";
}

.cv .deg label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cv-container {
  position: relative;
}

button.edit {
  position: absolute;
  right: 15px;
  top: 15px;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0px;
  margin: 0px;
  width: min-content;
  height: min-content;
}
svg.edit {
  width: 50px;
  fill: var(--primary-color);
}

@media print{
  header, div.pageControl, button.edit{
    display: none;
  }
}