@import url(./styles/variables.css);

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
  background: none;
  border: none;
}

body {
  padding: 10px 50px 10px 50px;
  background-color: var(--background-color);
  font-family: 'Rubik';
  color: var(--secondry-color);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


