* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  line-height: 1.5;
  background: none;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  padding: 10px 50px 10px 50px;
}